<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Project</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <div class="container">
        <!-- header start -->
        <header>
            This is header
        </header>
        <!-- header end -->

        <!-- article start-->
        <div class="article">
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid temporibus nesciunt quos, veritatis
                    dolorem exercitationem quam molestiae necessitatibus. Non officiis cumque voluptatum, magni
                    obcaecati nemo soluta nobis illum ipsum sit.</p>
            </article>
            <article>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam optio quia reiciendis at quidem
                    officiis eum esse, maxime, soluta incidunt, laborum commodi! At, delectus modi perferendis maiores
                    rem ratione? Excepturi?
                </p>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatum recusandae nulla
                    cupiditate. Sed molestias nobis reprehenderit quis, minus quaerat accusamus. Quisquam doloribus
                    totam aspernatur, dolores itaque nihil placeat eveniet?</p>
            </article>
        </div>
        <aside>
            <h2>side nav</h2>
        </aside>
        <!-- article end -->
        <!-- footer start -->
        <footer>
            This is footer
        </footer>
        <!-- footer end -->
    </div>
</body>

</html>